*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 150px;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 110px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65%;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px;
}

.toggle-btn{
    width: 20%;
    display: flex;
    position: absolute;
    left: 40%;
}
.toggle-btn button{
    flex-basis: 100%;
    background: #3c00a0;
    color: #fff;
    height: 25px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}

.enter-btn{
    width: 100%;
    margin: 60px 0px;
    display: flex;
    position: absolute;
    left: 25%;
}
.enter-btn button:hover{
    flex-basis: 48%;
    background: #d183ff;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: background 0.5s;

}
.enter-btn button{
    flex-basis: 48%;
    background: #eaeaea;
    color: #555;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: background 0.5s;
}

.input-group{
    height: 200px;
}