*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.sc-container{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.sc-form-box{
    width: 100%;
    position: absolute;
    background: #fff;
    padding: 25px 50px 25px;
    text-align: center;
}

.sc-form-box h1{
    font-size: 30px;
    color: #3c00a0;
    position: relative;
}